
.ev3beta .cards .card.beta {
    display: none;
}

.ev3beta header div.ui.logo.organization::after {
    content: "Community beta";
}

header div.ui.logo.organization::after {
    content: "Community fork";
    position: absolute;
    right: 14px;
    top: 75%;
    font-size: 10px;
    line-height: 1;
    font-weight:600;
    color: gray;
}
